
@-moz-document domain(vk.com) 
{ 

  body
  {
   background: #000 !important; color: #EEE !important;
  }
  
  /* hat.gif */
  #page_header .left, #page_header .right
  {
    background-image: url(http://i52.fastpic.ru/big/2013/0321/58/7bf364e4c2076189e87c57ce1cd36f58.gif) !important;
  }
  #page_header .back {
    background: rgba(0,0,0,0.0) url(http://i52.fastpic.ru/big/2013/0321/58/7bf364e4c2076189e87c57ce1cd36f58.gif) 0px -43px repeat-x !important;
  }
  /* modified hat.gif for press effect */
  #top_logo_down {
      background-image: url(http://i52.fastpic.ru/big/2013/0322/dc/80e13f3eb7e1f8e5bd04260427e520dc.gif) !important;
  }

  /* online_friends.gif */
  #ts_friends_online 
  {
    background-image: url(http://i52.fastpic.ru/big/2013/0321/c0/7074b52f83272258ac097ec8b12662c0.gif) !important;
  }
  /* like.gif */
  .wall_module .post_like_icon, .wall_module .post_share_icon, .wall_module .like_wrap i, .fw_reply .like_wrap i 
  {
    background-image: url(http://i52.fastpic.ru/big/2013/0321/09/773e43df7a8c676c93ea413935754209.gif) !important;
  }
  
/**** mono_iconset.gif ****/
.mail_attach_video, .mail_attach_audio, .mail_attach_mail, .mail_attach_doc, .mail_attach_geo, .mail_attach_wall, .mail_attach_gift, .mail_attach_photo ,
.medadd_h,.medadd_c_pollh, .current_audio, .profile_rate_warning .warning_row .img,
.current_app, .wall_module .media_preview .share b,.wall_module .media_preview .note b,.wall_module .media_preview .poll b,
.wall_module .media_desc b, .media_doc_icon, .media_audio_icon, .wall_signed_by, .places_module .icon, b.feed_gr_icon,b.feed_ev_icon,
b.feed_tp_icon,b.feed_nt_icon, .fc_msg_att_icon_photo,.fc_msg_att_icon_video,.fc_msg_att_icon_doc,.fc_msg_att_icon_mail,
.fc_msg_att_icon_audio,.fc_msg_att_icon_wall, .dd_menu_groups .dd_menu_rows .dd_item_-5,.dd_menu_groups .dd_menu_rows .dd_item_-4,
.dd_menu_groups .dd_menu_rows .dd_item_-3,.dd_menu_groups .dd_menu_rows .dd_item_-2,.dd_menu_groups .dd_menu_rows .dd_item_-1, .feed_filter_icon
{
  background-image: url(http://i54.fastpic.ru/big/2013/0321/e6/7ee2ebd970fdd53687fd18fd127478e6.gif) !important;
}
/* fixedmenu.gif */
.fmenu_icon 
{
  background-image: url(http://i52.fastpic.ru/big/2013/0321/b6/99f38ef157625fcc90aa518439e940b6.gif) !important;
}
/* feedback_iconset.gif */
.pad_msga_arrow, .feedback_answer_tail, .feedback_row_clickable_over .feedback_answer_tail, 
.feedback_grouped_row .feedback_row_icon, .wall_module .feedback_like_wrap .like_wrap div, .reply_field_tail,  .pad_nwsa_arrow
{
	  background-image: url(http://i53.fastpic.ru/big/2013/0321/27/18242d1bc7527c85a6815379b951d227.gif) !important;
}

/**** input_clear.gif ****/
#feed_query_reset, #choose_video .search_reset, .audio_search .search_reset
{
  background-image: url(http://i51.fastpic.ru/big/2013/0321/ea/5f4d0c574c799176d7d164032d4460ea.gif) !important;
}
/**** profile_iconset.gif ****/
.gifts_list_module a span.thumb,.counts_module div a span.thumb, .profile_verified, 
.wall_post_source_icon, .page_fronly, .medadd_h,.wall_post_source_icon, .medadd_c_pollh
{
  background-image: url(http://i52.fastpic.ru/big/2013/0321/ec/489feb325004685db95c5664473a99ec.gif) !important;
}

/* attach_icons.png */
a.add_media_type_17_photo add_media_item, a.add_media_type_17_video add_media_item
{
  background-image: url(http://i52.fastpic.ru/big/2013/0321/94/105f4349b06afa8fa139b123084edb94.png) !important;
}
/**** Audio icons ****/
.feed_tab_settings nobr,
#audio.new .audio.current .play_new, #head_play_btn, .medadd_aud_play, #head_play_btn, 
.page_gif_add_icon, .page_gif_added .page_gif_add_icon, .feed_tab_settings nobr, .page_gif_add_icon, .page_gif_added .page_gif_add_icon, 
.medadd_aud_play, #audio.new .audio_rec, #audio.new .audio_edit, #audio.new .audio_add, #audio.new .audio_remove, .audio_filter div.icon, #ac_play, #ac .ctrl
{
  background-image: url(http://i51.fastpic.ru/big/2013/0321/05/75aded5e7f632285c35ed33828aa4d05.png) !important;
}
.audio .play_new
{
  background-image: url(http://i51.fastpic.ru/big/2013/0321/c3/bd64c6e780682cb3ed5a69e6802ad6c3.gif) !important;
}
.vk-downloader-audio-new.current .vk-downloader-button
{
  background-image: url(http://i52.fastpic.ru/big/2013/0321/d8/d4b846c23f5c373bf3464e4a314729d8.gif) !important;
}

  a 
  {
    color: #F82 !important;
  }

  #audio.new .actions, div.ts_input_wrap,
  #page_wrap, #side_bar, #side_bar ol li .left_row, .back, .app_notify_row.new ,
  .search_results td.results, .search_results, .search_table, .search_table td.results,
  .bp_post, .feed_row, #profile_actions a, .mail_message , 
  .wide_wall_module, ul.t0 a, .side_filter, .audio_friend, #audio.new .audio_search, .audio_search,
  .reply_field_wrap, .group_list_row, .reply, .photo_row a, .apps_ads_rows,
  .apps_feed_info_str, .apps_feed_arrow, .wall_fixed .wall_post_text, #info_module_cont, #profile_main_actions
  { 
    background: none !important;
  }

  /**** Passives ****/
  .summary_wrap, #header, #unions_navigation.ads_unions_navigation_about , #mail_bar, .pv_comment , 
  .module.empty .module_body, .module_header .header_top, h4.page_top, .p_header_bottom ,
  .tabs, #profile_full_info h4 b, .wl_owner_head_wrap, .rate_right, 
  .settings_view_as_text, #new_ticket, .pd_apps_summary, .pd_apps_header,
  #pad_footer, .docs_search_bar, .apps_cat_filter, .app_tabs.t_bar, .side_panel, .box_controls, .bt_header,
  #im_footer_filler, .im_new_msg .im_log_author, .im_new_msg .im_log_body, .fc_tab ,
  .im_new_msg .im_log_date, #apps_wall_post_header, .im_editable, .wl_post_reply_form_forbidden
  {
    background-color: #131b15 !important; 
  }

  /**** Actives ****/
  .wddi, 
  #search_query_wrap, #docs_choose_more, #im_sound_controls, #pd, .fc_tab_txt, .rate_left, .post_like, .post_share, .search, .dark_box_cont ,
  #albums_load_more, #profile_editor, .page_actions a, .app_search, #group_like_module, .mail_envelope , 
  .side_filter, #feed_bar, #pva_more_photos, #pvsa_more_photos, .video_search, .video_albums_show_more ,
  #photos_upload_area, #im_bar, .groups_list_search, .wr_header, .replies_open, .reply_fakebox, #settings_panel, .settings_privacy,
  #ts_cont_wrap, 
  .summary_tabs, .docs_side_panel, #settings_panel .msg, .msg, .box_msg, .im_write
  {
    background-color: #080D08 !important; 
  }

  /**** Float window ****/
  #wk_box, #pv_box, #pad_cont, .fc_tab_log , #stl_bg, #fc_contacts, .box_body , #pv_actions .left, #pv_actions .right
  {
    background-color: #080808 !important; 
  }
  /**** Unread ****/
  .fc_msgs_unread, .fc_msg_unread 
  {
    background-color: #220 !important; 
  }
  /**** Highlighted ****/
  #docs_choose_upload_area, .left_count_wrap, .feedback_row_answer_wrap, #mail_rows_t tr.new_msg, #dark_box_topic_wrap,
  .selector_container td.selector_dropdown, .selector_container td.selector, #ac, .post_upload_dropbox_inner,
  #ts_cont_wrap a.ts_contact.active,.pad_msga, .pad_nwsa ,.fc_clist_inner, .add_media_item, .add_media_head,

  .selector_container table.selector_table, .docs_choose_def_icon, div.wdd, .dialogs_new_msg
  {
    border-color: #224 !important;
    background-color: #121 !important; 
    color: #2F2 !important; 
  }

  /***** Forms *****/
  .wall_module #submit_post_box, iframe, .token , 
  .box_body, .mail_box_cont, .fc_clist_filter_wrap, #im_resizer_wrap, .actions, #mv_controls,
  .wall_module .reply_fakebox_wrap, #wl_reply_form_inner, #im_peer_controls_wrap,
  .wall_module .reply_fakebox, .tdd_search .tdd_control, #fmenu, .docs_add_new, .docs_item_icon , .tdd_tag,
  input.text, input.search, textarea, input.big_text, .audio_filter, #audio_more_friends, .reply_box
  {
    color: #2F2 !important; 
    background-color: #080D08 !important; 
    border:1px dashed #333 !important; 
  }


  /**** Border recolor ****/
  div.ts_input_wrap, div.ts,
  #wrap1, #wrap2, .reply_field_wrap, .pedit_separator_bottom,  #mail_bar,.pv_comment ,  .mail_envelope , .dialogs_row,
  .pedit_privacy_padding_fix,.pedit_controls_separator, .separator div, .separator, .summary_tabs, .reply, .docs_item, .post, .more_div,
  .left_friend_all_link, .left_app_all_link, h4, .wall_module .post, #docs_search_summary_cont, .docs_side_panel,
  .summary_wrap, #photos_upload_area, .docs_search_bar, .audio_wrap .main_panel, .docs_filter_sep, .audio_filter_sep,
  .p_header_bottom, .search, #friends .user_block, #friends .main_panel, .groups_list_search, .group_list_row, .wall_module .published_by_quote,
  .mv_cont .narrow_column, .settings_view_as_text, .video_search, .box_controls, .feedback_grouped_row_wrap,
  .tickets_faq_row, #feed_bar, .im_log_t td, #unions_navigation.ads_unions_navigation_about ,
  #unions_navigation.ads_unions_navigation_about .nav ,#unions_navigation a.nav, #unions_navigation .nav_separator ,
  #unions_navigation.ads_unions_navigation_about , #all_shown, #feed_wall .feed_reposts_more_link
  {
    border-color: #333 !important; 
  }
  /**** Hovers ****/
  .pd_game_search_row:hover, #pad_more_audio:hover, #pad_more:hover, .pad_im_d:hover, .pad_im_dnew, .search_subtab1:hover, .audios_row .actions a:hover, .sgedit_action:hover, #results .three_col_row .actions a:hover, #show_more_link:hover, #show_media_link:hover, a#profile_photos_upload:hover, .profile_rate_warning .warning_row:hover, .profile_info_link:hover, 
#profile_groups_link:hover, #profile_groups .more_link:hover, #profile_actions a:hover, #profile_bottom_actions a:hover, .pv_filter_custom_block:hover, #pv_place_more:hover,  #pva_more:hover, #pva_more_photos:hover, #pva_more_videos:hover, #pvsa_more_photos:hover, .pv_can_edit:hover, #pv_actions a:hover, .dd_menu_rows a:hover, 
.dd_menu_rows a.dd_a_hover, #albums_load_more:hover, .photos_edit_action:hover, #photos_choose_thumb_more:hover, #photos_load_more:hover, a#photos_upload_area:hover, #photos_upload_area.hover, #photos_album_area:hover, #photos_choose_upload_area:hover, #photos_choose_more:hover, .flist_cell:hover, .flist_more:hover,  #privacy_dropdown .l_item:hover, #privacy_dropdown .l_item_sel:hover,  .scrollbar_inner:hover, .scrollbar_hovered, a.olist_more:hover, 
.audio_table a.more:hover, .audio_add_new:hover, .audio_friend:hover, .audio_list .actions a:hover, #audio_more_friends:hover, #audio_more_friends:hover, 
  #side_bar ol li .left_row:hover, tl_active.over_fast #stl_bg, .button_cancel .button_hover, 
  .button_cancel .button:hover, .button_cancel .button.hover, .button_cancel .leave_button:hover, .summary_tab2:hover,
  ul.t0 li a:hover,ul.t0 li a:hover b.tl1, ul.t0 li a:hover b.tl2,.round_tab.visible,.round_tab:hover, .bnav_a:hover,
  #profile_actions a:hover, #profile_bottom_actions a:hover, .wall_module a.page_media_thumbed_link:hover, 
.add_media_item:hover, .counts_module div a:hover,  .topics_module .topic_to_last:hover, 
.wall_module .more_link:hover,  .wall_module #wall_postponed_link:hover, .wrh_all:hover,
.wall_module a.page_media_thumbed_link:hover,  .add_media_item:hover, a.choose:hover,
.choose_more_btn:hover,  .other_acts a:hover, .page_actions a:hover, .member_list_more_link:hover,
.page_members_box .member_row .actions a:hover, .replies_open:hover, 


#results a.sub_item.over, #pad_playlist .audio.over .area, #pad_playlist .audio.tab_current .area,
#pad_playlist .audio.tab_current.tt_shown .area, #pad_playlist .audio.tab_current.over .area, #pad_playlist .audio.rec_source .area, 
#pad_playlist .audio.rec_source.tt_shown .area, #pad_playlist .audio.rec_source.over .area, #pad_playlist .audio.over .duration, 
#pad_playlist .audio.current .area, #pad_playlist .audio.current.tt_shown .area, #pad_playlist .audio.current.over .area, 
#audio.new .audio.over .area, .audio_filter.over,  #audio.new .audio.tt_shown .area,  
#audio.new .audio.current .area, #audio.new .audio.current.tt_shown .area, #audio.new .audio.current.over .area, 
a.fc_contact_over, .fc_scrollbar_cont.scrollbar_c_overed,
.fmenu_item_over, .left_nav_over .left_count_pad .left_count_wrap, .side_filter_over, .fmenu_item_over, 
.wddi_over, .replies_side_over, .dropbox_over .post_upload_dropbox_inner, 

.im_tab_over .im_tab2, .dialogs_row_over, .dialogs_row_over .dialogs_new_msg,  .im_friend_over,  a.im_find_in_mail.im_friend_over, 

#choose_audio a.choose:hover

  {
    background-color: #131 !important;
  }
  /**** Deleted ****/  
  .mail_del_row
  {
    color: #F22 !important; 
    background-color: #211 !important; 
  }

  /**** No border ****/
  #profile .narrow_column .header_top,
  .docs_list, .mail_envelope_wrap , 
  #profile .narrow_column .module_body 
  {
    border: none !important; 
  }

  #content
  { color: #EEE !important; }

  /**** Editable text ****/
  .im_editable, ul.listing li span 
  { color: #8F8 !important; }

  .cur_section
  {
    background-color: #244 !important;
    color: #EEF !important;
  }

  /***** Tabs ****/
  .tl1, .tl2, .sep, #header_wrap1, #header {
    background-color: #111 !important; 
    border:none !important; 
  }

  .active_link .tl1, .active_link .tl2 {
    background-color: #141 !important; 
    border:none !important; 
  }

  /**** form layer ****/
  #layer_wrap, #box_layer_wrap {
    background-color:rgba(0,0,0, 0.9) !important;
    } 
    
  .mail_envelope_shadow 
   {
     display: none !important;
     }
     
  /**** Recolor top nav links to match the top style ****/
  .head_nav a.top_nav_link , .head_nav a.top_nav_link span 
  {
    color: #000 !important;
  }
  /**** No shadows ****/
  .head_nav a.top_nav_link,  div.ts_input_wrap, body *
  {
    box-shadow: none !important;
    text-shadow: none !important;    
  }
  

}
